<div class="row" id="brief">
    <div class="row-fluid tabtable">
        <div class="span2"></div>
        <div class="span8">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#index" data-toggle="tab">Home</a></li>
                <li><a href="#readme" data-toggle="tab">ReadMe</a></li>
                <li><a href="#about" data-toggle="tab">About</a></li>
                <li><a href="#result" data-toggle="tab">Result</a></li>
                <li class="dropdown pull-right"><a href="#" data-toggle="dropdown" class="dropdown-toggle">More<strong
						class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://netlab.csu.edu.cn/" target="__blank">Our
								Lab</a></li>
                        <li><a href="http://bioinformatics.csu.edu.cn/" target="__blank">Our
								Group</a></li>
                        <li class="divider"></li>
                        <li><a href="http://netlab.csu.edu.cn/personal/lanwei/index.html" target="__blank">Author</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="span2"></div>
    </div>
</div>
